* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(245, 241, 239);
}


header {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    background: transparent;
}

#button{
    padding: 10px 20px;
    font-size: 24px;
    margin: 30px auto 0 auto;
    background: #ffc107;
    border-radius: 10px;
}

#button:hover{
    background: #ff9800;
}

#button:active{
    background: #FF5722;
    box-shadow: 0px 0px 10px rgb(255 87 34 / 90%);
}

#game {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    gap: 10px;
}


.screen{
    width: 490px;
    height: 140px;
    padding: 36px;
    text-align: center;
    background: rgb(230 206 227 / 75%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 2px solid purple;
}

.startBtn {
    padding: 10px 20px;
    font-size: 24px;
    margin: 30px auto 0 auto;
    background: #ffc107;
    border-radius: 10px;
}

.startBtn:hover{
    background: #ff9800;
}

.startBtn:active{
    background: #FF5722;
    box-shadow: 0px 0px 10px rgb(255 87 34 / 90%);
}

.screenSubtitle{
    text-align: center;
    padding: 10px;
}

.btnsList {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 5px;
}

.screenBtns {
    padding: 10px 20px;
    font-size: 24px;
    background: rgb(250 208 243);
    border-radius: 10px;
}

.screenBtns:hover{
    background: rgb(248 176 236);
}

.screenBtns:active{
    background: rgb(242 119 221);
    box-shadow: 0px 0px 10px rgb(242 119 221 / 90%);
}



/*rock color: rgb(158 119 132);
  scissors color: rgb(191 193 205);*/


  /*
  <div id="game">
        <div class="screen"><p>You are playing against the PC, the first to get 5 points wins. your score will show on this screen!</p></div><div class="screenSubtitle"></div><button class="startBtn">Start</button></div>
  */