* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(245, 241, 239);
}


header {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    background: transparent;
}

#button{
    padding: 10px 20px;
    font-size: 24px;
    margin: 30px auto 0 auto;
    background: #ffc107;
    border-radius: 10px;
}

#button:hover{
    background: #ff9800;
}

#button:active{
    background: #FF5722;
    box-shadow: 0px 0px 10px rgb(255 87 34 / 90%);
}

#game {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    gap: 10px;
}


.screen{
    width: 490px;
    height: 140px;
    padding: 36px;
    text-align: center;
    background: rgb(230 206 227 / 75%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 2px solid purple;
}

.startBtn {
    padding: 10px 20px;
    font-size: 24px;
    margin: 30px auto 0 auto;
    background: #ffc107;
    border-radius: 10px;
}

.startBtn:hover{
    background: #ff9800;
}

.startBtn:active{
    background: #FF5722;
    box-shadow: 0px 0px 10px rgb(255 87 34 / 90%);
}

.screenSubtitle{
    text-align: center;
    padding: 10px;
}

.btnsList {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 5px;
}

.screenBtns {
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
}

#Rock {
    background: rgb(158 119 132);
}

#Rock:hover {
    background: rgb(175 150 158);
}

#Rock:active {
    background: rgb(202 182 189);
}

#Scissors {
    background: rgb(160 160 160);
}

#Scissors:hover {
    background: rgb(190 190 190);
}

#Scissors:active {
    background: rgb(191 193 205);
}

#Paper{
    background: white;
}

#Paper:hover{
    background: rgb(255 255 210 / 1);
}

#Paper:active{
    background: rgb(255 255 0 / 1);
}

.replayBtn {
    padding: 10px 20px;
    font-size: 24px;
    margin: 30px auto 0 auto;
    background: #ffc107;
    border-radius: 10px;
}

.replayBtn:hover{
    background: #ff9800;
}

.replayBtn:active{
    background: #FF5722;
    box-shadow: 0px 0px 10px rgb(255 87 34 / 90%);
}


